<div class="container-fluid">
  <div class="jumbotron text-center">
    <h1>
      <span translate>APP_NAME</span>
    </h1>
    <p><i class="far fa-bookmark"></i> <span translate>Version</span> {{ version }}</p>

    <p>
      Github Repo:
      <a href="https://github.com/workcontrolgit/cat-toolkit-angular-starter"
        >https://github.com/workcontrolgit/cat-toolkit-angular-starter</a
      >
    </p>
  </div>

  <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel title="Access Token">
      <ng-template ngbPanelContent>
        {{ this.accessToken }}
      </ng-template>
    </ngb-panel>
    <ngb-panel>
      <ng-template ngbPanelTitle> Id Token </ng-template>
      <ng-template ngbPanelContent>
        {{ this.idToken }}
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Identity Claims">
      <ng-template ngbPanelContent>
        {{ this.identityClaims }}
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Roles">
      <ng-template ngbPanelContent>
        {{ this.role }}
      </ng-template>
    </ngb-panel>
    we
  </ngb-accordion>
</div>
