<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/" translate>APP_NAME</a>
    <button
      class="navbar-toggler"
      type="button"
      aria-controls="navbar-menu"
      aria-label="Toggle navigation"
      (click)="toggleMenu()"
      [attr.aria-expanded]="!menuHidden"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbar-menu" class="collapse navbar-collapse float-xs-none" [ngbCollapse]="menuHidden">
      <div class="navbar-nav">
        <a class="nav-item nav-link text-uppercase" routerLink="/master" routerLinkActive="active">
          <i class="fas fa-home"></i>
          <span translate>Master</span>
        </a>
        <a class="nav-item nav-link text-uppercase" routerLink="/detail" routerLinkActive="active">
          <i class="fas fa-question-circle"></i>
          <span translate>Detail</span>
        </a>
      </div>
      <div class="navbar-nav ml-auto">
        <app-language-selector inNavbar="true" menuClass="dropdown-menu dropdown-menu-right"></app-language-selector>
      </div>
    </div>
  </nav>
</header>
